body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
#searchInput {
	/* Add nice styles to the searchInput button */
}
#searchButton {
    /* Add nice styles to the searchButton button */
}
#searchButton:hover {
    background-color: #3f51b5;
}
#gifDisplay img {
    max-width: 300px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
}
.nav-buttons {
    margin: 10px;
}
.nav-buttons button {
    padding: 10px 20px;
    background-color: #5c6bc0;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}
.nav-buttons button:hover {
    background-color: #3f51b5;
}